<div class="container">
    <div class="row" style="margin-left: 2%;">
        <div class="col-md-6">
            <mat-card>
                    <form [formGroup]="ChartForm">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-5 ">
                                    <div >
                                        <h2 style="text-align: center;">Series:</h2>
                                        <mat-form-field appearance="fill" style="width: 100%;">
                                            <mat-label>Serie 1:</mat-label>
                                            <mat-select matNativeControl required formControlName="serie1">
                                            <mat-option value="Hombres">Hombres</mat-option>
                                            <mat-option value="Mujeres">Mujeres</mat-option>
                                            </mat-select>
                                        </mat-form-field><br>
                                    
                                        <mat-form-field appearance="fill" style="width: 100%;">
                                            <mat-label>Serie 2:</mat-label>
                                            <mat-select matNativeControl required formControlName="serie2">
                                            <mat-option value="Hombres">Hombres</mat-option>
                                            <mat-option value="Mujeres">Mujeres</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        
                                    </div>
                            </div>
                            
                            <div class="col-md-5 ">
                                <h2 style="text-align: center;">Categorias:</h2>
                              <!--  <mat-form-field appearance="fill" *ngFor="let categories of datos" style="width: 100%;">
                                    <mat-label>Categoría: </mat-label>
                                    <mat-select [formControlName]="categories.category" >
                                        <mat-option *ngFor="let categories of datos" [value]="categories.category">
                                            {{categories.category}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field><br>-->

                                <mat-selection-list #typesOfShoes (selectionChange)="onGroupsChange(typesOfShoes.selectedOptions.selected)">
                                    <mat-list-option *ngFor="let shoes of typesOfShoes" [value]="shoes">
                                        {{shoes}}
                                    </mat-list-option>
                                </mat-selection-list>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </form>

                    <div class="row" >
                        <button (click)="sendSeries()"  type="submit" mat-button color="primary" >Guardar Filtros</button>
                    </div>
            </mat-card>
        </div>
    </div>
    <div class="row" style="margin-left: 2%;">
        <div class="col-md-6">
            <div id="chartdiv" style="width: 100%; height: 500px;"></div>
        </div>
    </div>
</div>