<!-- <h1 style="margin-left: 50%;">Dashboards dinámicos</h1> -->

<div class="menuStyle">
    <a href="/">Gráficas Dinámicas</a>
    <button mat-button [matMenuTriggerFor]="aboveMenu">Gráficas</button>
    <mat-menu #aboveMenu="matMenu" yPosition="above">
        <button mat-menu-item routerLink="/chart-graphic">Gráfica de barras</button>
        <button mat-menu-item routerLink="/pie-chart">Gráfica de pastel</button>
        <button mat-menu-item routerLink="/scrollbar-chart">Gráfica lineal</button>
    </mat-menu>
</div>

<router-outlet></router-outlet>

